.site-header {
  background-color: #cee1f3;
}

.site-header-title {
  color: #000000;
  font-size: 1.5rem;
}

.site-header-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
}

.hero-background-color {
  background-color: #e9e1f5;
}

.img-container {
  margin: 0;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.welcome-text {
  color: #064420;
}
